<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Webpack App</title>
  <meta name="Cache-Control" content="no-cache, no-store">
  <meta name="pragma" content="no-cache">
  <meta name="Expires" content="0">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
</body>
<script src="./<%= js %>.js"></script>
</html>